@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import url('/style/main/main.css');
@import url('/style/header.css');
@import url('/style/main/burger.css');

:root {
    --color-white: #fff;
    --color-btn: #F6762C;
    --color-body: #1C1C1C;
    --color-burger: #312F30;
}

body {
    background-color: var(--color-body);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 10px 0 10px;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
}