.main__burgerking {
    display: flex;
    justify-content: space-between;
    background-color: #312F30;
    margin-top: 140px;
    height: clamp(33.75rem, 33.75rem + 0vw, 33.75rem);
    width: 100%;
}

.burger__img {
    width: clamp(17.188rem, 10.938rem + 31.25vw, 34.375rem);
}

.main__burgerking-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 370px;
    gap: 24px;
}

.burger__tilte {
    font-family: 'Roboto';
    font-size: clamp(1.375rem, 0.875rem + 2.5vw, 2.75rem);
    font-weight: 700;
    color: var(--color-white);
}

.burger__text {
    font-family: 'Roboto';
    font-size: clamp(1rem, 1rem + 0vw, 1rem);
    font-weight: 500;
    color: var(--color-white);
}


@media (max-width: 480px) {
    .main__burgerking {
        display: block;
    }

    .main__burgerking-text {
        padding: 0 20px;
    }
}