.main {
    margin: 130px 0;
}

.main__card-blud {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card__blude {
    flex: 1 1 calc(25% - 20px);
    max-width: 260px;
    height: 323px;
    background-color: #312F30;
    border-radius: 10px;
    align-items: center;
}

.card__blude img {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.card__text {
    display: flex;
    flex-direction: column;
    gap: 13px;
    text-align: center;
    color: #fff;
}

.card__title {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    padding-top: 30px;
}

@media (max-width: 768px) {
    .card__blude {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .card__blude {
        flex: 1 1 100%;
    }
}